$columbia-blue: #337ab7;
$light-green: #A4C5A1;

h1 {
  font-size: 24px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}
h5 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
a {
  font-size: 14px;
  font-weight: 400;
}
p {
  font-size: 10px;
  font-weight: 400;
}
.glyphicon {
  color: black;
  top: 3px;
  left: -5px;
  font-size: 24px;
  &:hover {
    color: $columbia-blue;
  }
}
 /* Sticky footer styles
}
}
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.btn-primary {
    background-color: #252525;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #E4E4E4;
}
h5{
    font-family: 'Open Sans', sans-serif;
}
strong{
    font-family: 'Open Sans', sans-serif;
}
.box{
    border: 2px #BBB solid
}

