$columbia-blue: #337ab7;
$light-green: #A4C5A1;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #E4E4E4;
}
h1 {
  font-size: 24px;
  font-weight: 600;
}
h2 {
  font-size: 18px;
  font-weight: 400;
}
h3 {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}
h4 {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}
h5 {
  text-align: center;
  font-size: 11px;
  font-weight: 400;
}
h6 {
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  a {
    font-size: 10px;
  }
}
a {
  font-size: 9px;
  font-weight: 400;
}
p {
  font-size: 10px;
  font-weight: 400;
}
.glyphicon {
  color: black;
  top: 3px;
  left: -5px;
  font-size: 24px;
  &:hover {
    color: $columbia-blue;
  }
}
.info-box {
  background-color: white;
  margin: -16.5px;
  padding: 10px;
  width: 900px;
  left: -20px;
  height: 70px;
  p {
    text-align: center;
  }
  .dropdown-content {
    margin-top: 60px;
    top: 50px;
  }
}