.dropdown-content {
  padding: 13px;
  position: absolute;
  background: rgba(black, 0.6);
  width: 100%;
  height: 138px;
  top: 260px;
  left: 0px;
  h5 {
    @include clearfix;
    color: $light-green;
    text-decoration: none;
    display: block;
  }
  h4 {
    margin-top: 2px;
    color: #fff;
  }
  h5 {
    color: $light-green;
  }
  p {
    color: $light-green;
  }
  a {
    text-align: center;
    color: $light-green;
  }
}

.dropdown:active .dropdown-content {
  display: block;
}

.info-title {
  border-right: 1px solid $light-green;
  &:last-child { 
    border-right: none;
  }
}

.content {
  top: 10px;
  left: 38%;
}





















