.dropdown-content {
  @include clearfix;
  padding-top: 13px;
  position: relative;
  background: rgba(black, 0.6);
  width: 102.2%;
  height: 138px;
  top: 260px;
  left: -9px;
  h5 {
    @include clearfix;
    color: $light-green;
    text-decoration: none;
    display: block;
  }
  h4 {
    margin-top: -12px;
    color: white;
  }
  h5 {
    color: $light-green;
  }
  p {
    color: $light-green;
  }
  a {
    text-align: center;
    text-align: center;
    color: $light-green;
    &:hover {
        color: $columbia-blue;
        text-decoration: none;
    }
  }
}

/*.dropdown:active .dropdown-content {
  display: block;
}*/

.info-title {
  border-right: 1px solid $light-green;
  &:last-child { 
    border-right: none;
  }
}

.content {
  top: 10px;
  left: 38%;
}





















