.dropdown-content {
  @include clearfix;
  background: rgba(black, 0.6);
  width: 900px;
  height: 70px;
  margin-left: -9px;
  margin-top: 10px;
  h5 {
    @include clearfix;
    color: $light-green;
    text-decoration: none;
    display: block;
  }
  h4 {
    margin-top: 12px;
    color: white;
  }
  p {
    color: $light-green;
  }
  a {
    text-align: center;
    color: $light-green;
    &:hover {
        color: $columbia-blue;
        text-decoration: none;
    }
  }
}






















