.sections {
  left: -5px;
}
.unit-holder {
  z-index: 1;
  position: absolute;
  .unit1 {
    position: relative;
    width: 100%;
    top: 70px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit2 {
    position: relative;
    width: 100%;
    top: 250px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit3 {
    position: relative;
    width: 100%;
    top: 430px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit4 {
    position: relative;
    width: 100%;
    top: 608px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit5 {
    position: relative;
    width: 100%;
    top: 764px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
   .unit6 {
    position: relative;
    width: 100%;
    top: 943px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit7 {
    position: relative;
    width: 100%;
    top: 1121px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit8 {
    position: relative;
    width: 100%;
    top: 1301px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit9 {
    position: relative;
    width: 100%;
    top: 1458px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit10 {
    position: relative;
    width: 100%;
    top: 1614px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit11 {
    position: relative;
    width: 100%;
    top: 1770px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit12 {
    position: relative;
    width: 100%;
    top: 1926px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit13 {
    position: relative;
    width: 100%;
    top: 2082px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit14 {
    position: relative;
    width: 100%;
    top: 2238px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit15 {
    position: relative;
    width: 100%;
    top: 2394px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit16 {
    position: relative;
    width: 100%;
    top: 2550px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit17 {
    position: relative;
    width: 100%;
    top: 2706px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit18 {
    position: relative;
    width: 100%;
    top: 2862px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit19 {
    position: relative;
    width: 100%;
    top: 3018px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit20 {
    position: relative;
    width: 100%;
    top: 3174px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit21 {
    position: relative;
    width: 100%;
    top: 3330px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit22 {
    position: relative;
    width: 100%;
    top: 3486px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit23 {
    position: relative;
    width: 100%;
    top: 3642px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit24 {
    position: relative;
    width: 100%;
    top: 3798px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit25 {
    position: relative;
    width: 100%;
    top: 3954px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit26 {
    position: relative;
    width: 100%;
    top: 4110px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit27 {
    position: relative;
    width: 100%;
    top: 4266px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit28 {
    position: relative;
    width: 100%;
    top: 4422px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit29 {
    position: relative;
    width: 100%;
    top: 4578px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit30 {
    position: relative;
    width: 100%;
    top: 4734px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit31 {
    position: relative;
    width: 100%;
    top: 4890px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit32 {
    position: relative;
    width: 100%;
    top: 5046px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit33 {
    position: relative;
    width: 100%;
    top: 5202px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit34 {
    position: relative;
    width: 100%;
    top: 5358px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit35 {
    position: relative;
    width: 100%;
    top: 5514px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit36 {
    position: relative;
    width: 100%;
    top: 5670px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit37 {
    position: relative;
    width: 100%;
    top: 5826px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit38 {
    position: relative;
    width: 100%;
    top: 5982px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit39 {
    position: relative;
    width: 100%;
    top: 6138px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit40 {
    position: relative;
    width: 100%;
    top: 6294px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit41 {
    position: relative;
    width: 100%;
    top: 6450px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit42 {
    position: relative;
    width: 100%;
    top: 6606px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit43 {
    position: relative;
    width: 100%;
    top: 6762px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit44 {
    position: relative;
    width: 100%;
    top: 6918px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit45 {
    position: relative;
    width: 100%;
    top: 7074px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit46 {
    position: relative;
    width: 100%;
    top: 7251px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit47 {
    position: relative;
    width: 100%;
    top: 7428px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit48 {
    position: relative;
    width: 100%;
    top: 7555px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit49 {
    position: relative;
    width: 100%;
    top: 7695px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit50 {
    position: relative;
    width: 100%;
    top: 7851px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
}








