.sections {
  left: -5px;
}
.unit-holder {
  z-index: 1;
  position: absolute;
  .unit1 {
    position: relative;
    width: 100%;
    top: 70px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit2 {
    position: relative;
    width: 100%;
    top: 250px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit3 {
    position: relative;
    width: 100%;
    top: 430px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit4 {
    position: relative;
    width: 100%;
    top: 608px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit5 {
    position: relative;
    width: 100%;
    top: 764px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
   .unit6 {
    position: relative;
    width: 100%;
    top: 943px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit7 {
    position: relative;
    width: 100%;
    top: 1121px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit8 {
    position: relative;
    width: 100%;
    top: 1301px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit9 {
    position: relative;
    width: 100%;
    top: 1458px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit10 {
    position: relative;
    width: 100%;
    top: 1614px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .unit11 {
    position: relative;
    width: 100%;
    top: 1770px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
}








