.nav {
  background-color: #FFF;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
}
.navbar {
  position: relative;
  padding-left: 10%;
  top: -5px;
}

.container {
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  h2 {
    position: relative;
    left: 7%;
    top: 143px;
  }
  .row {
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    .search-wrapper {
      .form-control {
        width: 100%;
        height: 34px;
        margin-top: 60px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }
  }
}
