html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

h2 {
  font-size: 18px;
  font-weight: 400; }

h3 {
  font-size: 24px;
  font-weight: 400; }

h5 {
  text-align: center;
  font-size: 13px;
  font-weight: 400; }

a {
  font-size: 14px;
  font-weight: 400; }

p {
  font-size: 10px;
  font-weight: 400; }

.glyphicon {
  color: black;
  top: 3px;
  left: -5px;
  font-size: 24px; }
  .glyphicon:hover {
    color: #337ab7; }

 /* Sticky footer styles
}
}
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%; }

.btn-primary {
  background-color: #252525; }

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #E4E4E4; }

h5 {
  font-family: 'Open Sans', sans-serif; }

strong {
  font-family: 'Open Sans', sans-serif; }

.box {
  border: 2px #BBB solid; }

.nav {
  z-index: 7;
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  right: 0;
  top: 0;
  position: fixed; }

.navbar {
  position: relative;
  padding-left: 10%;
  top: -5px; }

.container {
  z-index: 2;
  position: absolute;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%; }
  .container h2 {
    position: relative;
    top: 140px;
    left: 80px; }
  .container .row {
    position: relative;
    margin-right: 10%;
    margin-left: 10%; }
    .container .row .search-wrapper {
      padding-bottom: 50px; }
      .container .row .search-wrapper .form-control {
        width: 100%;
        height: 34px;
        margin-top: 60px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px; }

.footer {
  display: block;
  position: fixed;
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 40px;
  background-color: #222;
  text-align: center;
  padding: 10px; }

.sections {
  left: -5px; }

.unit-holder {
  z-index: 1;
  position: absolute; }
  .unit-holder .unit1 {
    position: relative;
    width: 100%;
    top: 70px; }
    .unit-holder .unit1 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit1 .info-box p {
        text-align: center; }
    .unit-holder .unit1 .dropdown-content {
      top: 50px; }
  .unit-holder .unit2 {
    position: relative;
    width: 100%;
    top: 250px; }
    .unit-holder .unit2 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit2 .info-box p {
        text-align: center; }
    .unit-holder .unit2 .dropdown-content {
      top: 50px; }
  .unit-holder .unit3 {
    position: relative;
    width: 100%;
    top: 430px; }
    .unit-holder .unit3 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit3 .info-box p {
        text-align: center; }
    .unit-holder .unit3 .dropdown-content {
      top: 50px; }
  .unit-holder .unit4 {
    position: relative;
    width: 100%;
    top: 608px; }
    .unit-holder .unit4 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit4 .info-box p {
        text-align: center; }
    .unit-holder .unit4 .dropdown-content {
      top: 50px; }
  .unit-holder .unit5 {
    position: relative;
    width: 100%;
    top: 764px; }
    .unit-holder .unit5 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit5 .info-box p {
        text-align: center; }
    .unit-holder .unit5 .dropdown-content {
      top: 50px; }
  .unit-holder .unit6 {
    position: relative;
    width: 100%;
    top: 943px; }
    .unit-holder .unit6 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit6 .info-box p {
        text-align: center; }
    .unit-holder .unit6 .dropdown-content {
      top: 50px; }
  .unit-holder .unit7 {
    position: relative;
    width: 100%;
    top: 1121px; }
    .unit-holder .unit7 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit7 .info-box p {
        text-align: center; }
    .unit-holder .unit7 .dropdown-content {
      top: 50px; }
  .unit-holder .unit8 {
    position: relative;
    width: 100%;
    top: 1301px; }
    .unit-holder .unit8 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit8 .info-box p {
        text-align: center; }
    .unit-holder .unit8 .dropdown-content {
      top: 50px; }
  .unit-holder .unit9 {
    position: relative;
    width: 100%;
    top: 1458px; }
    .unit-holder .unit9 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit9 .info-box p {
        text-align: center; }
    .unit-holder .unit9 .dropdown-content {
      top: 50px; }
  .unit-holder .unit10 {
    position: relative;
    width: 100%;
    top: 1614px; }
    .unit-holder .unit10 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit10 .info-box p {
        text-align: center; }
    .unit-holder .unit10 .dropdown-content {
      top: 50px; }
  .unit-holder .unit11 {
    position: relative;
    width: 100%;
    top: 1770px; }
    .unit-holder .unit11 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit11 .info-box p {
        text-align: center; }
    .unit-holder .unit11 .dropdown-content {
      top: 50px; }
  .unit-holder .unit12 {
    position: relative;
    width: 100%;
    top: 1926px; }
    .unit-holder .unit12 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit12 .info-box p {
        text-align: center; }
    .unit-holder .unit12 .dropdown-content {
      top: 50px; }
  .unit-holder .unit13 {
    position: relative;
    width: 100%;
    top: 2082px; }
    .unit-holder .unit13 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit13 .info-box p {
        text-align: center; }
    .unit-holder .unit13 .dropdown-content {
      top: 50px; }
  .unit-holder .unit14 {
    position: relative;
    width: 100%;
    top: 2238px; }
    .unit-holder .unit14 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit14 .info-box p {
        text-align: center; }
    .unit-holder .unit14 .dropdown-content {
      top: 50px; }
  .unit-holder .unit15 {
    position: relative;
    width: 100%;
    top: 2394px; }
    .unit-holder .unit15 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit15 .info-box p {
        text-align: center; }
    .unit-holder .unit15 .dropdown-content {
      top: 50px; }
  .unit-holder .unit16 {
    position: relative;
    width: 100%;
    top: 2550px; }
    .unit-holder .unit16 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit16 .info-box p {
        text-align: center; }
    .unit-holder .unit16 .dropdown-content {
      top: 50px; }
  .unit-holder .unit17 {
    position: relative;
    width: 100%;
    top: 2706px; }
    .unit-holder .unit17 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit17 .info-box p {
        text-align: center; }
    .unit-holder .unit17 .dropdown-content {
      top: 50px; }
  .unit-holder .unit18 {
    position: relative;
    width: 100%;
    top: 2862px; }
    .unit-holder .unit18 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit18 .info-box p {
        text-align: center; }
    .unit-holder .unit18 .dropdown-content {
      top: 50px; }
  .unit-holder .unit19 {
    position: relative;
    width: 100%;
    top: 3018px; }
    .unit-holder .unit19 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit19 .info-box p {
        text-align: center; }
    .unit-holder .unit19 .dropdown-content {
      top: 50px; }
  .unit-holder .unit20 {
    position: relative;
    width: 100%;
    top: 3174px; }
    .unit-holder .unit20 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit20 .info-box p {
        text-align: center; }
    .unit-holder .unit20 .dropdown-content {
      top: 50px; }
  .unit-holder .unit21 {
    position: relative;
    width: 100%;
    top: 3330px; }
    .unit-holder .unit21 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit21 .info-box p {
        text-align: center; }
    .unit-holder .unit21 .dropdown-content {
      top: 50px; }
  .unit-holder .unit22 {
    position: relative;
    width: 100%;
    top: 3486px; }
    .unit-holder .unit22 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit22 .info-box p {
        text-align: center; }
    .unit-holder .unit22 .dropdown-content {
      top: 50px; }
  .unit-holder .unit23 {
    position: relative;
    width: 100%;
    top: 3642px; }
    .unit-holder .unit23 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit23 .info-box p {
        text-align: center; }
    .unit-holder .unit23 .dropdown-content {
      top: 50px; }
  .unit-holder .unit24 {
    position: relative;
    width: 100%;
    top: 3798px; }
    .unit-holder .unit24 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit24 .info-box p {
        text-align: center; }
    .unit-holder .unit24 .dropdown-content {
      top: 50px; }
  .unit-holder .unit25 {
    position: relative;
    width: 100%;
    top: 3954px; }
    .unit-holder .unit25 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit25 .info-box p {
        text-align: center; }
    .unit-holder .unit25 .dropdown-content {
      top: 50px; }
  .unit-holder .unit26 {
    position: relative;
    width: 100%;
    top: 4110px; }
    .unit-holder .unit26 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit26 .info-box p {
        text-align: center; }
    .unit-holder .unit26 .dropdown-content {
      top: 50px; }
  .unit-holder .unit27 {
    position: relative;
    width: 100%;
    top: 4266px; }
    .unit-holder .unit27 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit27 .info-box p {
        text-align: center; }
    .unit-holder .unit27 .dropdown-content {
      top: 50px; }
  .unit-holder .unit28 {
    position: relative;
    width: 100%;
    top: 4422px; }
    .unit-holder .unit28 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit28 .info-box p {
        text-align: center; }
    .unit-holder .unit28 .dropdown-content {
      top: 50px; }
  .unit-holder .unit29 {
    position: relative;
    width: 100%;
    top: 4578px; }
    .unit-holder .unit29 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit29 .info-box p {
        text-align: center; }
    .unit-holder .unit29 .dropdown-content {
      top: 50px; }
  .unit-holder .unit30 {
    position: relative;
    width: 100%;
    top: 4734px; }
    .unit-holder .unit30 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit30 .info-box p {
        text-align: center; }
    .unit-holder .unit30 .dropdown-content {
      top: 50px; }
  .unit-holder .unit31 {
    position: relative;
    width: 100%;
    top: 4890px; }
    .unit-holder .unit31 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit31 .info-box p {
        text-align: center; }
    .unit-holder .unit31 .dropdown-content {
      top: 50px; }
  .unit-holder .unit32 {
    position: relative;
    width: 100%;
    top: 5046px; }
    .unit-holder .unit32 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit32 .info-box p {
        text-align: center; }
    .unit-holder .unit32 .dropdown-content {
      top: 50px; }
  .unit-holder .unit33 {
    position: relative;
    width: 100%;
    top: 5202px; }
    .unit-holder .unit33 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit33 .info-box p {
        text-align: center; }
    .unit-holder .unit33 .dropdown-content {
      top: 50px; }
  .unit-holder .unit34 {
    position: relative;
    width: 100%;
    top: 5358px; }
    .unit-holder .unit34 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit34 .info-box p {
        text-align: center; }
    .unit-holder .unit34 .dropdown-content {
      top: 50px; }
  .unit-holder .unit35 {
    position: relative;
    width: 100%;
    top: 5514px; }
    .unit-holder .unit35 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit35 .info-box p {
        text-align: center; }
    .unit-holder .unit35 .dropdown-content {
      top: 50px; }
  .unit-holder .unit36 {
    position: relative;
    width: 100%;
    top: 5670px; }
    .unit-holder .unit36 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit36 .info-box p {
        text-align: center; }
    .unit-holder .unit36 .dropdown-content {
      top: 50px; }
  .unit-holder .unit37 {
    position: relative;
    width: 100%;
    top: 5826px; }
    .unit-holder .unit37 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit37 .info-box p {
        text-align: center; }
    .unit-holder .unit37 .dropdown-content {
      top: 50px; }
  .unit-holder .unit38 {
    position: relative;
    width: 100%;
    top: 5982px; }
    .unit-holder .unit38 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit38 .info-box p {
        text-align: center; }
    .unit-holder .unit38 .dropdown-content {
      top: 50px; }
  .unit-holder .unit39 {
    position: relative;
    width: 100%;
    top: 6138px; }
    .unit-holder .unit39 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit39 .info-box p {
        text-align: center; }
    .unit-holder .unit39 .dropdown-content {
      top: 50px; }
  .unit-holder .unit40 {
    position: relative;
    width: 100%;
    top: 6294px; }
    .unit-holder .unit40 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit40 .info-box p {
        text-align: center; }
    .unit-holder .unit40 .dropdown-content {
      top: 50px; }
  .unit-holder .unit41 {
    position: relative;
    width: 100%;
    top: 6450px; }
    .unit-holder .unit41 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit41 .info-box p {
        text-align: center; }
    .unit-holder .unit41 .dropdown-content {
      top: 50px; }
  .unit-holder .unit42 {
    position: relative;
    width: 100%;
    top: 6606px; }
    .unit-holder .unit42 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit42 .info-box p {
        text-align: center; }
    .unit-holder .unit42 .dropdown-content {
      top: 50px; }
  .unit-holder .unit43 {
    position: relative;
    width: 100%;
    top: 6762px; }
    .unit-holder .unit43 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit43 .info-box p {
        text-align: center; }
    .unit-holder .unit43 .dropdown-content {
      top: 50px; }
  .unit-holder .unit44 {
    position: relative;
    width: 100%;
    top: 6918px; }
    .unit-holder .unit44 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit44 .info-box p {
        text-align: center; }
    .unit-holder .unit44 .dropdown-content {
      top: 50px; }
  .unit-holder .unit45 {
    position: relative;
    width: 100%;
    top: 7074px; }
    .unit-holder .unit45 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit45 .info-box p {
        text-align: center; }
    .unit-holder .unit45 .dropdown-content {
      top: 50px; }
  .unit-holder .unit46 {
    position: relative;
    width: 100%;
    top: 7251px; }
    .unit-holder .unit46 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit46 .info-box p {
        text-align: center; }
    .unit-holder .unit46 .dropdown-content {
      top: 50px; }
  .unit-holder .unit47 {
    position: relative;
    width: 100%;
    top: 7428px; }
    .unit-holder .unit47 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit47 .info-box p {
        text-align: center; }
    .unit-holder .unit47 .dropdown-content {
      top: 50px; }
  .unit-holder .unit48 {
    position: relative;
    width: 100%;
    top: 7583px; }
    .unit-holder .unit48 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit48 .info-box p {
        text-align: center; }
    .unit-holder .unit48 .dropdown-content {
      top: 50px; }
  .unit-holder .unit49 {
    position: relative;
    width: 100%;
    top: 7760px; }
    .unit-holder .unit49 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit49 .info-box p {
        text-align: center; }
    .unit-holder .unit49 .dropdown-content {
      top: 50px; }
  .unit-holder .unit50 {
    position: relative;
    width: 100%;
    top: 7915px; }
    .unit-holder .unit50 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit50 .info-box p {
        text-align: center; }
    .unit-holder .unit50 .dropdown-content {
      top: 50px; }
  .unit-holder .unit51 {
    position: relative;
    width: 100%;
    top: 8093px; }
    .unit-holder .unit51 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit51 .info-box p {
        text-align: center; }
    .unit-holder .unit51 .dropdown-content {
      top: 50px; }
  .unit-holder .unit52 {
    position: relative;
    width: 100%;
    top: 8270px; }
    .unit-holder .unit52 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit52 .info-box p {
        text-align: center; }
    .unit-holder .unit52 .dropdown-content {
      top: 50px; }
  .unit-holder .unit53 {
    position: relative;
    width: 100%;
    top: 8448px; }
    .unit-holder .unit53 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit53 .info-box p {
        text-align: center; }
    .unit-holder .unit53 .dropdown-content {
      top: 50px; }
  .unit-holder .unit54 {
    position: relative;
    width: 100%;
    top: 8603px; }
    .unit-holder .unit54 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit54 .info-box p {
        text-align: center; }
    .unit-holder .unit54 .dropdown-content {
      top: 50px; }
  .unit-holder .unit55 {
    position: relative;
    width: 100%;
    top: 8780px; }
    .unit-holder .unit55 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit55 .info-box p {
        text-align: center; }
    .unit-holder .unit55 .dropdown-content {
      top: 50px; }
  .unit-holder .unit56 {
    position: relative;
    width: 100%;
    top: 8936px; }
    .unit-holder .unit56 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit56 .info-box p {
        text-align: center; }
    .unit-holder .unit56 .dropdown-content {
      top: 50px; }
  .unit-holder .unit57 {
    position: relative;
    width: 100%;
    top: 9114px; }
    .unit-holder .unit57 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit57 .info-box p {
        text-align: center; }
    .unit-holder .unit57 .dropdown-content {
      top: 50px; }
  .unit-holder .unit58 {
    position: relative;
    width: 100%;
    top: 9268px; }
    .unit-holder .unit58 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit58 .info-box p {
        text-align: center; }
    .unit-holder .unit58 .dropdown-content {
      top: 50px; }
  .unit-holder .unit59 {
    position: relative;
    width: 100%;
    top: 9445px; }
    .unit-holder .unit59 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit59 .info-box p {
        text-align: center; }
    .unit-holder .unit59 .dropdown-content {
      top: 50px; }
  .unit-holder .unit60 {
    position: relative;
    width: 100%;
    top: 9600px; }
    .unit-holder .unit60 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit60 .info-box p {
        text-align: center; }
    .unit-holder .unit60 .dropdown-content {
      top: 50px; }
  .unit-holder .unit61 {
    position: relative;
    width: 100%;
    top: 9776px; }
    .unit-holder .unit61 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit61 .info-box p {
        text-align: center; }
    .unit-holder .unit61 .dropdown-content {
      top: 50px; }
  .unit-holder .unit62 {
    position: relative;
    width: 100%;
    top: 9916px; }
    .unit-holder .unit62 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit62 .info-box p {
        text-align: center; }
    .unit-holder .unit62 .dropdown-content {
      top: 50px; }
  .unit-holder .unit63 {
    position: relative;
    width: 100%;
    top: 10092px; }
    .unit-holder .unit63 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit63 .info-box p {
        text-align: center; }
    .unit-holder .unit63 .dropdown-content {
      top: 50px; }
  .unit-holder .unit64 {
    position: relative;
    width: 100%;
    top: 10268px; }
    .unit-holder .unit64 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit64 .info-box p {
        text-align: center; }
    .unit-holder .unit64 .dropdown-content {
      top: 50px; }
  .unit-holder .unit65 {
    position: relative;
    width: 100%;
    top: 10444px; }
    .unit-holder .unit65 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit65 .info-box p {
        text-align: center; }
    .unit-holder .unit65 .dropdown-content {
      top: 50px; }
  .unit-holder .unit66 {
    position: relative;
    width: 100%;
    top: 10621px; }
    .unit-holder .unit66 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit66 .info-box p {
        text-align: center; }
    .unit-holder .unit66 .dropdown-content {
      top: 50px; }
  .unit-holder .unit67 {
    position: relative;
    width: 100%;
    top: 10798px; }
    .unit-holder .unit67 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit67 .info-box p {
        text-align: center; }
    .unit-holder .unit67 .dropdown-content {
      top: 50px; }
  .unit-holder .unit68 {
    position: relative;
    width: 100%;
    top: 10954px; }
    .unit-holder .unit68 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit68 .info-box p {
        text-align: center; }
    .unit-holder .unit68 .dropdown-content {
      top: 50px; }
  .unit-holder .unit69 {
    position: relative;
    width: 100%;
    top: 11132px; }
    .unit-holder .unit69 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit69 .info-box p {
        text-align: center; }
    .unit-holder .unit69 .dropdown-content {
      top: 50px; }
  .unit-holder .unit70 {
    position: relative;
    width: 100%;
    top: 11309px; }
    .unit-holder .unit70 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit70 .info-box p {
        text-align: center; }
    .unit-holder .unit70 .dropdown-content {
      top: 50px; }
  .unit-holder .unit71 {
    position: relative;
    width: 100%;
    top: 11464px; }
    .unit-holder .unit71 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit71 .info-box p {
        text-align: center; }
    .unit-holder .unit71 .dropdown-content {
      top: 50px; }
  .unit-holder .unit72 {
    position: relative;
    width: 100%;
    top: 11618px; }
    .unit-holder .unit72 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit72 .info-box p {
        text-align: center; }
    .unit-holder .unit72 .dropdown-content {
      top: 50px; }
  .unit-holder .unit73 {
    position: relative;
    width: 100%;
    top: 11796px; }
    .unit-holder .unit73 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit73 .info-box p {
        text-align: center; }
    .unit-holder .unit73 .dropdown-content {
      top: 50px; }
  .unit-holder .unit74 {
    position: relative;
    width: 100%;
    top: 11973px; }
    .unit-holder .unit74 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit74 .info-box p {
        text-align: center; }
    .unit-holder .unit74 .dropdown-content {
      top: 50px; }
  .unit-holder .unit75 {
    position: relative;
    width: 100%;
    top: 12113px; }
    .unit-holder .unit75 .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px; }
      .unit-holder .unit75 .info-box p {
        text-align: center; }
    .unit-holder .unit75 .dropdown-content {
      top: 50px; }

.dropdown-content {
  padding: 13px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 138px;
  top: 260px;
  left: 0px; }
  .dropdown-content a {
    text-align: center;
    color: #A4C5A1;
    text-decoration: none;
    display: block;
    font-size: 11px; }
  .dropdown-content h5 {
    margin-top: 2px;
    color: #fff; }
  .dropdown-content h6 {
    text-align: center;
    color: #A4C5A1; }
  .dropdown-content p {
    color: #A4C5A1; }
  .dropdown-content a:hover {
    color: #337ab7; }

.dropdown:active .dropdown-content {
  display: block; }

.info-title {
  border-right: 1px solid #A4C5A1; }
  .info-title:last-child {
    border-right: none; }

.content {
  top: 10px;
  left: 38%; }

/*# sourceMappingURL=style.css.map */
