/*.unit-holder {
  z-index: 1;
  position: absolute;
  .unit1 {
    position: relative;
    width: 100%;
    top: 70px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }

.vs-unit1 {
  position: relative;
  width: 100%;
  top: 13591px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit2 {
  position: relative;
  width: 100%;
  top: 13744px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit3 {
  position: relative;
  width: 100%;
  top: 13901px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit4 {
  position: relative;
  width: 100%;
  top: 14111px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit5 {
  position: relative;
  width: 100%;
  top: 14311px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit6 {
  position: relative;
  width: 100%;
  top: 14511px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit7 {
  position: relative;
  width: 100%;
  top: 14711px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit8 {
  position: relative;
  width: 100%;
  top: 14911px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit9 {
  position: relative;
  width: 100%;
  top: 15111px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit10 {
  position: relative;
  width: 100%;
  top: 15311px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit11 {
  position: relative;
  width: 100%;
  top: 15511px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit12 {
  position: relative;
  width: 100%;
  top: 15711px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit13 {
  position: relative;
  width: 100%;
  top: 15911px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit14 {
  position: relative;
  width: 100%;
  top: 16111px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit15 {
  position: relative;
  width: 100%;
  top: 16311px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit16 {
  position: relative;
  width: 100%;
  top: 16511px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit17 {
  position: relative;
  width: 100%;
  top: 16711px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit18 {
  position: relative;
  width: 100%;
  top: 16911px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}
.vs-unit19 {
  position: relative;
  width: 100%;
  top: 17111px;
  .info-box {
    margin: -16.5px;
    background-color: white;
    padding: 10px;
    width: 900px;
    left: -20px;
    height: 70px;
    p {
      text-align: center;
    }
  }
  .dropdown-content {
    top: 50px;
  }
}










*/