/*.unit-holder {
  z-index: 1;
  position: absolute;
  .vs-unit1 {
    position: relative;
    width: 100%;
    top: 13591px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit2 {
    position: relative;
    width: 100%;
    top: 13744px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit3 {
    position: relative;
    width: 100%;
    top: 13896px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit4 {
    position: relative;
    width: 100%;
    top: 14048px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit5 {
    position: relative;
    width: 100%;
    top: 14200px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit6 {
    position: relative;
    width: 100%;
    top: 14352px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit7 {
    position: relative;
    width: 100%;
    top: 14504px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit8 {
    position: relative;
    width: 100%;
    top: 14642px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit9 {
    position: relative;
    width: 100%;
    top: 14794px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit10 {
    position: relative;
    width: 100%;
    top: 14946px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit11 {
    position: relative;
    width: 100%;
    top: 15099px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit12 {
    position: relative;
    width: 100%;
    top: 15273px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit13 {
    position: relative;
    width: 100%;
    top: 15425px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit14 {
    position: relative;
    width: 100%;
    top: 15578px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit15 {
    position: relative;
    width: 100%;
    top: 15730px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit16 {
    position: relative;
    width: 100%;
    top: 15883px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit17 {
    position: relative;
    width: 100%;
    top: 16035px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit18 {
    position: relative;
    width: 100%;
    top: 16188px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
  }
  .vs-unit19 {
    position: relative;
    width: 100%;
    top: 16340px;
    padding-bottom: 400px;
    .info-box {
      margin: -16.5px;
      background-color: white;
      padding: 10px;
      width: 900px;
      left: -20px;
      height: 70px;
      p {
        text-align: center;
      }
    }
    .dropdown-content {
      top: 50px;
    }
    h2 {
      font-size: 21px;
      padding-top: 20px;
      left: -47px;
    }
    .section-box {
      top: 560px;
    }
  }
}
*/